@page
@model MyBudgetApp.Pages.Accounts.ListModel
@{
}

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" placeholder="Search Accounts" />
            <div class="input-group-append">
                <button class="btn btn-secondary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </div>
</form>
<table class="table table-hover">
    @foreach (var account in Model.Accounts)
    {
    <tr>
        <td>@account.Name</td>
        <td>€@account.Balance</td>
        <td>
            <a class="btn btn-default" asp-page="./Detail" asp-route-accountId="@account.Id">
                <i class="fas fa-info"></i>
            </a>
        </td>
        <td>
            <a class="btn btn-default" asp-page="./Edit" asp-route-accountId="@account.Id">
                <i class="fas fa-edit"></i>
            </a>
        </td>
    </tr>
    }
</table>

