@page
@model BudgIt.Pages.Accounts.NotFoundModel
@{
}

<h2>That Account was not found.</h2>
<a asp-page="./List" class="btn btn-outline-dark">
    Go back to All Accounts
    <i class="fas fa-arrow-left"></i>
</a>